{{!< default}}
<div class="gh-page">
    <div class="gh-container">
        <div class="home-container">
            <div class="gh-postfeed home-container-section items-forsale">
                <h1>books, etc.</h1>
                {{#get "posts" filter="tag:hash-forsale" limit="3" as |items pages|}}
                    {{#foreach items}}
                        {{> "home-snippet" page=../pages.page }} {{!-- partials/card.hbs --}}
                    {{/foreach}}
                {{/get}}
            </div>
            <div class="gh-postfeed home-container-section articles">
                {{#get "posts" filter="primary_tag:article" limit="3" as |items pages|}}
                    {{#foreach items}}
                        {{!-- partials/card.hbs --}}
                        {{> "home-snippet" page=../pages.page }}
                    {{/foreach}}
                {{/get}}
                <h1>words & images</h1>
            </div>
            
        </div>
    </div>
</div>
