/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";


/* Fonts */
@font-face {
    font-family: "ms gothic";
    src: url("../fonts/ms-gothic.ttf");
}



/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

/*** overwriting hosted style rules ***/
.kg-file-card a.kg-file-card-container {
    color: black;
    border: 1px solid black !important;
    transition: none !important;
}

.kg-file-card:hover a.kg-file-card-container:hover {
    z-index: 903;
    box-shadow: 0 0 4.2px 0px rgba(128,0,0, 0.4);
}

/*** ----------------------------- ***/


#color-screen1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: blue;
/*    background-color: red;*/
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: 901;
}

#color-screen2 {
    position: fixed;
    top: 0;
    left: 30vw;
    height: 100vh;
    width: 70vw;
    mix-blend-mode: screen;
    pointer-events: none;
}

/*a:hover {
    color: blue !important;
    z-index: 903;
    border-color: blue !important;
    position: relative;
}*/

p {
    text-indent: 5rem;
}


.gh-content ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.gh-content li {
    list-style-type: none;
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

.gh-content li::before {
    content: "\2192  ";
}

.gh-content li::after {
    content: "  \2190";
}

.buy-button {
    margin-top: 2vmin;
}

.snipcart-modal__container {
    z-index: 902 !important;
}

.buy-button button {
    float: right;
}

.buy-button button:hover {
    cursor: pointer;
    position: relative;
    z-index: 901;
}

.home-container {
    display: grid;
    grid-gap: 2vmin;
}

.ink-swatches {
    position: relative;
    z-index: 902;
}

.ink-swatches li {
    border-radius: .5rem;
    height: 4rem;
    line-height: 4rem;
}

.ink-swatches li:hover {
    box-shadow: 0 0 4.2px 0px rgba(128,0,0, 0.4);
}

.ink-swatches li+li {
    margin-top: 1rem;
}

.columns > *+* {
    margin-top: 4vmin;
}



img {
}

h1 {
    font-weight: 100;
}

h1 > a {
    color: black !important;
    text-decoration: none;
    margin-bottom: 3rem;
    display: block;
    margin: none;
}

h1 > a:hover {
    color: #fff !important;
    -webkit-text-stroke: 1px black;
    background-color: #ccc !important;
    border: none;
}

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white;
/*    background: palevioletred;*/
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 0 2vmin;
}

.gh-article {
    padding: 8vmin 0;
    margin: 2vmin;
}

.gh-postfeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));
    gap: 2vmin 2vmin;
    padding: 1vmin 0;
    border-radius: 1rem;
}

.items-forsale {
    grid-column: 1 / 2;
}

.print-packages {
    grid-template-columns: repeat(4, minmax(240px, 1fr));
}

stripe-pricing-table {
    z-index: 903;
}

/*
.gh-postfeed > *:first-child {
    grid-column: 1 / -1;
}
*/

.gh-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.gh-head-actions a:not(.gh-button) {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

/* .gh-card:not(:first-child) {
    margin: 8vmin auto 0;
} */

.gh-card-link {
    display: flex;
    flex-direction: column;
}

.gh-card-image {
    width: 100%;
    /* max-height: 700px; */
    object-fit: contain;
    margin-bottom: 1vmin;
    aspect-ratio: 1 / 1;
    background: white;
/*    border: 1px solid black;*/
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.1);
}

.gh-card-image:first-of-type {
    aspect-ratio: 1 / 1;
}


.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-title {
    font-size: 3rem;   
}

.gh-card-content {
    max-width: 720px;
    margin: 0;
    text-align: left;
    text-justify: newspaper;
    font-size: 1.6rem;
}

@media (max-width: 500px) {
    .home-snippet:not(:last-child) {
        border-bottom: 2px dashed;
    }       
}

.gh-card-content p {
    margin: 0;
    padding: 0;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.75;
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0;
    text-align: center;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-post-authors {
    text-transform: uppercase;
    font-family: var(--font-sans-serif);
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
    .gh-feature-image {
        grid-column: full-start / full-end;
        width: 100%;
        margin: 0;
    }

    .gh-feature-image img {
        margin-inline: auto;
        width: 100%;
    }
}


@media (min-width: 700px) {
    .home-container {
        grid-template-columns: 5fr 2fr;
    }

    .home-container > div:first-child {
        padding-top: 1vmin;
    }

    .gh-feature-image {
        grid-column: full-start / full-end;
        margin: 0;
    }

    .gh-feature-image img {
        max-height: 100vh;
    }

    .columns {
        border-top: 2px dashed black;
        margin-top: 2rem;
        padding-top: 2rem;
        columns: 2;
        column-rule: 2px dashed black;
    }

    .columns > * {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .columns > h1 {
        /*margin-top: 0 !important;
        break-before: column;*/
    }
}